.calendar td              { font-size: 0.9em; }
.calendar .day-today      { background-color: #ccc; }
.calendar .day-selected   { background-color: #bbb; }
.calendar .header-month   { background-color: #ddd; }
.calendar .header-week    { background-color: #ccc; }
.calendar .day-blank      { background-color: #ddd; }
.calendar .day-link a     { font-weight: bold; color: #000; }
.calendar .row-week       { color: #aaa; }
 tbody                    { border-top: 0px  }
