/* Standard styles */

a {

	color: #FF9900;

	font-weight: bold;

	text-decoration: none;

}


body {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #555555;

	font-weight: normal;

	line-height: normal;

	background-image: url(images/back3.gif);

	background-repeat: repeat-x;

	margin-left: 15px;

	margin-top: 0px;

}



/* Header styles */

.header {

  height:80px;

}


.headerlogo {

  float: left;

  padding-top: 3px;

  padding-right: 15px;

}


.headersearch {

  float: right;

  padding-top: 30px;

  padding-right: 15px;

}


.headersitename {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 30px;

	font-weight: normal;

	color: #FFFFCC;

	text-transform: uppercase;

	letter-spacing: 11px;

	padding-top: 20px;

	padding-left: 100px;

	white-space: nowrap;

	background-image: url(images/orange.gif);

	background-repeat: no-repeat;

	background-position: 10px 10px;

}


.headerslogan{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #FFFFCC;

	padding-left: 140px;

}


.headerlinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	line-height: 140%;

	width: 100%;

	padding-left: 15px;

  padding-right: 10px;

  padding-top: 15px;

}

.headerspace {

	padding: 10px;

}


.breadcrumb {

}


.breadcrumb a {

}


.page-title {

}



/* Node styles */

.nodetitle {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 17px;

	color: #000000;

	font-weight: bold;

	padding-left: 15px;

}


.nodetitle a {

	color: #000000;

}


.nodetitle a:hover {

  text-decoration: underline;

}


.nodedate {

	color: #CCCCCC;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 80%;

}


.nodebody {

	font-family: Arial, Helvetica, sans-serif;

	color: #333333;

	line-height: 130%;

	font-size: 80%;

	font-weight: normal;

	padding-left: 15px;

}



.nodelinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #666666;

	padding-top: 8px;

	padding-bottom: 30px;

	padding-left: 15px;

}



/* Box styles */

.boxtitle {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #BBBBBB;

	height: 30px;

	font-weight: bold;

	text-transform: uppercase;

	letter-spacing: 2px;

}


.boxbody {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

}



/* Misc other styles */

.centercolumn {

}


.leftcolumn {

    width: 150px;

    padding-left: 10px;

    padding-right: 20px;

}


.rightcolumn {

    width: 150px;

    padding-left: 20px;

    padding-right: 10px;

}


.lineh {

	background-image: url(images/dotline2h.gif);

	background-repeat: repeat-x;

  width: 100%;

}


.linev {

	background-image: url(images/dotline2v.gif);

	background-repeat: repeat-y;

	width: 24px;

  white-space: nowrap;

}


.delimiter {

	background-image: url(images/delimiter2.gif);

	background-repeat: no-repeat;

	width: 5px;

	margin-right: 5px;

	margin-left: 5px;

	background-position: center;

}



.block-list {

  padding-left: 1.0em;

  margin-left: 0em;

  list-style-image: url("misc/menu-collapsed.gif");

}
