/* Standard styles */

a {

  color: #AA0000;

  font-weight: bold;

  text-decoration: none;

}


body {

  font-family: Georgia, Times New Roman, Times;

  line-height: normal;

  background-image: url(images/back2.gif);

  background-repeat: repeat-x;

  margin-left: 25px;

  margin-top: 0px;

}


/* Header styles */

.header {

  height:80px;

}


.headerlogo {

  float: left;

  padding-top: 3px;

  padding-right: 15px;

}


.headersearch {

  float: right;

  padding-top: 30px;

  padding-right: 15px;

}


.headersitename {

  font-family: Verdana, Arial, Helvetica, sans-serif;

  font-size: 28px;

  font-weight: bold;

  color: #FFAAAA;

  vertical-align: middle;

  align: left;

}


.headerslogan {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #FFAAAA;

	padding-left: 140px;

}


.headerlinks {

 white-space: nowrap;

 font-family: Verdana, Arial, Helvetica, sans-serif;

 font-size: 10px;

 font-weight: bold;

 padding-top: 16px;

}


.headerspace {

	padding: 10px;

}


.breadcrumb {

}


.breadcrumb a {

}


.page-title {

}



/* Node styles */

.nodetitle {

  font-family: Georgia, Times New Roman, Times;

	font-size: 22px;

	color: #888888;

	padding-bottom: 3px;

}


.nodetitle a {

  color: #888888;

  font-weight: normal;

}


.nodetitle a:hover {

  text-decoration: underline;

}


.nodedate {

	color: #CCCCCC;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 80%;

}


.nodebody {

  font-family: Georgia, Times New Roman, Times;

	color: #333333;

	line-height: 150%;

	font-size: 80%;

	font-weight: normal;

}


.nodelinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	color: #666666;

	padding-top: 8px;

	padding-bottom: 30px;


}



/* Box styles */

.boxtitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #666666;

	height: 30px;

	font-weight: bold;

}


.boxbody {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

}



/* Misc other styles */


.centercolumn {

}


.leftcolumn {

    width: 150px;

    padding-right: 10px;

}


.rightcolumn {

    width: 150px;

    padding-left: 10px;

}


.lineh {

	background-image: url(images/dotlineh.gif);

	background-repeat: repeat-x;

  width: 100%;

}


.linev {

	background-image: url(images/dotlinev.gif);

	background-repeat: repeat-y;

	width: 24px;

  white-space: nowrap;

  padding-left: 5px;

  padding-right: 5px;

}

.delimiter {

    background-image: url(images/delimiter.gif);

    background-repeat: no-repeat;

    width: 5px;

    margin-right: 5px;

    margin-left: 5px;

    background-position: center;

}

.block-list {

  padding-left: 1.0em;

  margin-left: 0em;

  list-style-image: url("misc/menu-collapsed.gif");

}
