/* Standard styles */

a {

	color: #FF0000;

	font-weight: bold;

	text-decoration: none;

}


body {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #555555;

	font-weight: normal;

	line-height: normal;

	background-image: url(images/back4.jpg);

	background-repeat: repeat-x;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 0px;

	margin-left: 0px;

	margin-right: 0px;

	margin-top: 0px;

	font-size: 14px;

}



/* Header styles */

.header {

  height: 170px;

}


.headerlogo {

  float: left;

  padding-top: 3px;

  padding-right: 15px;

}


.headersearch {

  float: right;

  padding-top: 30px;

  padding-right: 15px;

}


.headersitename {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 35px;

	font-weight: bold;

	color: #FFFFFF;

	white-space: nowrap;

	background-image: url(images/girl.jpg);

	background-repeat: no-repeat;

	background-position: 0px 0px;

	width: 100%;

	padding-top: 100px;

	padding-right: 0px;

	padding-left: 140px;

	padding-bottom: 0px;
}


.headerslogan{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #FFFFFF;

	padding-left: 140px;

	padding-top: 3px;

}


.headerlinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	width: 100%;

	padding-left: 40px;

	padding-right: 20px;

	padding-top: 10px;

  line-height: 140%;

}


.headerspace {

	padding: 20px;

	width: 100%;

}


.breadcrumb {

}


.breadcrumb a {

}


.page-title {

}



/* Node styles */



.nodetitle {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;

	color: #000000;

	font-weight: bold;

}



.nodetitle a {

	color: #000000;

}



.nodetitle a:hover {

  text-decoration: underline;

}


.nodedate {

}


.nodebody {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #666666;

	line-height: 180%;

	font-size: 70%;

	font-weight: normal;

}



.nodelinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #666666;

	padding-top: 8px;

	padding-bottom: 50px;


}



/* Box styles */

.boxtitle {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	color: #BBBBBB;

	height: 30px;

	font-weight: bold;

	text-transform: uppercase;

	letter-spacing: 2px;

}


.boxbody {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

}



/* Misc other styles */


.centercolumn {

}


.leftcolumn {

    width: 150px;

    padding-left: 40px;

    padding-right: 20px;

}


.rightcolumn {

    width: 150px;

    padding-left: 20px;

    padding-right: 40px;

}


.lineh {

	background-image: url(images/dotline3h.gif);

	background-repeat: repeat-x;

  width: 100%;

}



.linev {

	background-image: url(images/dotline3v.gif);

	background-repeat: repeat-y;

	width: 34px;

  white-space: nowrap;

}


.delimiter {

	background-image: url(images/delimiter3.gif);

	background-repeat: no-repeat;

	width: 12px;

	margin-right: 5px;

	margin-left: 5px;

	background-position: center;

}


.block-list {

  padding-left: 1.0em;

  margin-left: 0em;

  list-style-image: url("misc/menu-collapsed.gif");

}
